/* navbar.css */

.navbar {
  background-color: #e5e4ec;
  color: black;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0; 
}

.navbar.light {
  background-color: #e5e4ec;
  color: #000000;
}

.navbar.dark {
  background-color: #333333;
  color: #ffffff;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.taskade-icon img {
  height: 40px;
  border-radius: 2ch;
}
h2{
  margin-left: 10rem;

}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 3em; 
}

.settings,
.help,
.notification,
.profile {
  cursor: pointer;
}

.notification span {
  font-size: 1.5em;
}

.profile img {
  height: 40px;
  border-radius: 50%;
  margin-right: 2em;
}
